.jumbotron {
    margin-top: 20px;
    margin-bottom: 70px;
    font-family: 'Alice', 'serif';
    font-size: 60px;  
    text-shadow: 6px 6px rgba(18, 18, 19, 0.541);
    text-align: center;  
  /* z-index:2  */
}

body#kitchen {
    background-image:url("../images/kitchen-2.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; 
    background-position: 50% 50%;                        
}

body#movie {
    background-image:url("../images/movie-3.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; 
    background-position: 50% 50%;     
  }

#food {
    margin: 0 auto;
    text-align: center;
    display: inline-block;
    font-display: solid;
    background-color: rgb(182, 182, 182);
    padding: 15px;
    font-family: 'Alice', 'serif';
 }

#navigation {
    display: inline-block; 
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-family:'Alice', 'serif';
    font-size: 20px;
    font-weight: bold;
    line-height: 1em;
    border-radius: 2px; /* Little curvature in the borders */
    font-family: 'Alice', 'serif';
  }


#wine-pairing {
  margin: 0 auto;
  background-color: rgb(182, 182, 182);
  padding: 15px;
  font-family: 'Alice', 'serif'; 
}

#movies {
  margin: 0 auto;
  background-color: rgb(255, 229, 143);
  font-family: 'Alice', 'serif';
  padding: 15px;
  font-size: 20px;
  font-weight: bold;
}


#ingredient-input {
  margin-bottom: 10px;
  font-size: 20px;
}

#find-recipes {
  font-size: 20px;
}

/* body#dining {
  background-image:url("../images/table.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover; 
  background-position: 50% 50%;                          
  } */

  
/* #bbox {
  z-index: 3;
  margin-top: 20px;
  margin-bottom: 70px;
  /* height: 15%;
  width: 100%; */
  /* background-color: rgb(71, 111, 129);
  padding: 6%;
  opacity: .8;
  position: absolute;
  border-radius: 0 0 25px 25px; */
/* } */ */

/* #bcbox {
  z-index: 3;
  height: 20%;
  width: 100%;
  background-color: rgb(70, 68, 66);
  padding: 6%;
  opacity: .8;
  position: absolute;
  border-radius: 0 0 25px 25px;
} */



 

 
